# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Virtual environments
env/
venv/
ENV/
.venv/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Logs
*.log

# Mypy
.mypy_cache/

# Local settings, secrets
local_settings.py

# Shapefiles
PLANS2168/

# Excel files
*.xlsx